@model IEnumerable<BookProject.Models.orders>

@{
    ViewData["Title"] = "customerOrders";
}

    <style>
        .table {
            box-shadow: 2px 2px 2px 2px #ccc;
        }
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #f14f4d;
                color: white;
            }
    </style>
<h1 style="font-family:KacstBook">Customer Orders</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table id="customers" style="font-family:KacstBook" class="table">
    <thead>
        <tr>
            <th>
                Book Id
                @*@Html.DisplayNameFor(model => model.bookId)*@
            </th>
            
            <th>
                Quantity
                @*@Html.DisplayNameFor(model => model.quantity)*@
            </th>
            <th>
                Order Date
                @*@Html.DisplayNameFor(model => model.orderdate)*@
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-family:KacstBook">
            <td>
                @Html.DisplayFor(modelItem => item.bookId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderdate)
            </td>
           
        </tr>
}
    </tbody>
</table>
