@model IEnumerable<BookProject.Models.report>

@{
    ViewData["Title"] = "customerreport";
}
    <style>
        .table {
            box-shadow: 2px 2px 2px 2px #ccc;
        }
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #f14f4d;
                color: white;
            }
    </style>
<h1 style="font-family:KacstBook">Customer Report</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table id="customers" style="font-family: KacstBook;" class="table">
    <thead>
        <tr>
            <th>
                Customer Name
                @*@Html.DisplayNameFor(model => model.customername)*@
            </th>
           
            <th>
                Total
                @*@Html.DisplayNameFor(model => model.total)*@
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-family:KacstBook;">
            <td>
                @Html.DisplayFor(modelItem => item.customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                <a asp-action="customerOrders" asp-route-id="@item.Id"><img width="24px" c  src="~/images/info3.png"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
